@font-face {
    font-family: 'caboel';
    src:    url('fonts/caboel.eot?lr7b83');
    src:    url('fonts/caboel.eot?lr7b83#iefix') format('embedded-opentype'),
        url('fonts/caboel.ttf?lr7b83') format('truetype'),
        url('fonts/caboel.woff?lr7b83') format('woff'),
        url('fonts/caboel.svg?lr7b83#caboel') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'caboel' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-2-right:before {
    content: "\e900";
}
.icon-arrow-down:before {
    content: "\e901";
}
.icon-arrow-left:before {
    content: "\e902";
}
.icon-arrow-right:before {
    content: "\e903";
}
.icon-arrow-up:before {
    content: "\e904";
}
.icon-butt:before {
    content: "\e905";
}
.icon-close:before {
    content: "\e906";
}
.icon-comercial:before {
    content: "\e907";
}
.icon-comp1:before {
    content: "\e908";
}
.icon-comp2:before {
    content: "\e909";
}
.icon-comp3:before {
    content: "\e90a";
}
.icon-hotelero:before {
    content: "\e90b";
}
.icon-logistico:before {
    content: "\e90c";
}
.icon-menu:before {
    content: "\e90d";
}
.icon-oficcinas:before {
    content: "\e90e";
}

